.contact-us {
	-webkit-text-stroke: 2px #222222;
}

.contact-us-details p {
	-webkit-text-stroke: 0.5px #222222;
}

.contact-us-details, .contact-us-form {
    padding: 20px;
}

.contact-us-form input, .contact-us-form textarea {
    width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
}

.contact-us iframe {
    border-radius: 15px;
}